<!DOCTYPE html>
<html>
    <head>
     <title>Where work Happens|Slack</title>
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>


       <script src="slackscript.js"></script>
        <link rel = "stylesheet" type="text/css" href="../../static/slack.css">
    </head>

<body>

      <div="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="d-flex flex-grow-1">
            <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
            <a class="navbar-brand d-none d-lg-inline-block" href="#">
            <img src="../../static/slacck.png" id="logo" alt="logo">
            </a>
            <a class="navbar-brand-two mx-auto d-sm-none d-inline-block" href="#">
                <img src="../../static/slacck.png" id="logo" alt="logo">
            </a>

            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item nav-active">Product</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item">Price</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item">Support</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item">Create a new team</a>
                  </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item">Find your team</a>
                </li>
                <li class="nav-item">
                  <a href="#" class=" nav-link m-2 menu-item btn btn-outline-secondary" role="button">Sign In</a>
                </li>
            </ul>
        </div>
    </nav>




            <!-- login form  -->

    <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign in to SiBS</h5>
             <p class="card-text text-center">Enter your <b> email </b> and <b> password </b> </p>
            <form method="post" class="form-signin" action="{% url 'login' %}">
                
              <div class="form-label-group">
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="your@examples.com" required autofocus>
                <label for="inputEmail">Email</label>
              </div>

              <div class="form-label-group">
                <input type="password" name="'password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>

                  <div class="bs-example bs-example-tabs">
                  <ul id="myTab" class="nav nav-tabs">
{#                 <label><input type="checkbox"> Remember me</label>#}
{#                  <li class=""><a href="#why" data-toggle="tab">Lost Password?</a></li>#}
                            <div class="row">
                              <div class="col-sm"></div>
                                <label><input type="checkbox"> Remember me</label>
                              <div class="col-sm"></div>
                               <li class=""><a href="#why" data-toggle="tab">Lost Password?</a></li>
                              <div class="col-sm"></div>
                            </div>
                                            </ul>
              </div>

              <button class="btn btn-success btn-block text-uppercase" type="submit">Sign in</button>
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>